* {
  margin: 0;
  padding: 0;
}
a {
  color: black;
}
body {
  background-color: #F3F9FF;
  font-family: 'Open Sans', sans-serif;
}
ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}
/**************************************************/
.container {
  width: 550px;

  margin: 0 auto; /*позиционирование по центру */
}

.header {

  height: 100%;
  padding-top: 26px;
  padding-bottom: 26px;
  color: #fff;
}
header a {
  color: black;
}

.menu {
  display: flex;
}

.menu li a {
  text-decoration: none;
  font-size: 18px;
}

.menu li {
  margin-right: 120px; 
}
/**************************************************/
.menu a:after {
  display: block; /*блочный элемент*/
  content: ''; /*контента в данном блоке не будет поэтому в кавычках ничего нет*/
  height: 2px; /*высоту линии*/
  width: 0%; /*задаём начальную ширину линии*/
  background-color: #000000; /*цвет фона элемента*/
  transition: width 0.5s ease-in-out; /**/
}
.menu a:hover:after {
  width: 100%;
}

/**************************************************/
.tel {
  font-size: 18px;
  text-decoration: none;
  margin-left: 100px;
}

.nav {
  display: flex;
  align-items: center;
}
/**************************************************/

.form * {
  outline: none;
}
.form{
  max-width: 550px;
  margin: 0 auto;
  padding: 30px 0;
}



.form_item{
  margin: 0px 0px 20px 0px;
}
.form_label{
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}
.form_input{
  height: 50px;
  width: 92%;
  font-size: 18px;
  padding: 0 20px;
  border-radius: 5px;
  transition: all 0.8s ease 0s;
}

textarea.form_input{
  min-width: 120px;
  resize: vertical;
  padding: 20px;
}
.select{
  height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
  border-radius: 5px;
}

.checkbox_input {
  display: none;
  
}
.checkbox_label a {
  color: #A330D9;
}
.checkbox_input:checked + .checkbox_label::after {
  transform: scale(1);

}
.checkbox_label {
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox_label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color:rgb(132, 185, 241);
  border-radius: 6px;
  margin: 0px 10px 0px 0px;
}
.checkbox_label::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.5s ease 0s;
}
.form_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #D0E6FD;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.5s ease 0s;
}
.form_button:hover{
  background-color: #8DBFF1;
}
/**************************************************/
.form_input:focus {
  box-shadow: 0 0 15px #40f7f7dc;
}
/**************************************************/
.form_input._error {
  box-shadow: 0 0 20px #ff0000;
}
.checkbox._error  .checkbox_label::before  {
  box-shadow: 0 0 20px #ff0000;
}



/**************************************************/
@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .form {
    width: 540px;
  }
  .щ

}

@media screen and (max-width: 575px) {
  .menu {
    width: 400px;
  }
  .container {
    width: 100%;
    margin-left: auto;
  }
  .container {
    width: 400px;
  }
  .form {
    width: 400px;
  }


}
