img{
	max-width: 100%;
	max-height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

a{
	color: black;
	text-decoration: none;
}
body{
	
	font-family: 'Anton', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

button:focus{
	orphans: none;
}


h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
/**************************************************/

.container{

	width: 1170px;

	margin: 0 auto;/*позиционирование по центру */
}

.header{
	background-color: #DAE9F9;
	height: 100%;
	padding-top: 26px;
	color: #fff;
}
header a{
	color: black;
}

.logo{
	padding: 0px;
	margin-bottom: 20px;
	margin-right:  160px;

}

.menu{
	display: flex;
}

.menu li a {
	text-decoration: none;
	font-size: 18px;


}

.menu li {
	margin-right: 150px;
}

/**************************************************/
.menu a:after {
	display: block; /*блочный элемент*/
	content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего нет*/
	height: 2px; /*высоту линии*/
	width: 0%; /*задаём начальную ширину элемента (линии)*/
	background-color: #000000; /*цвет фона элемента*/
	transition: width 0.5s ease-in-out; /**/
}
.menu a:hover:after {
	width: 100%;
	
}
/**************************************************/
.tel{

	font-size: 18px;
	margin-left: auto;
}


.nav{
	display: flex;
	align-items: center;
}
/**************************************************/
.offer {
	width: 1170px;
	height: 550px;
	margin: 0 auto;/*позиционирование по центру */
}

.offer img {
	padding-top: 84px;
}

.containerr {
  position: relative;
  width: 100%;
}
.containerr img {
  width: 100%;
  height: auto;
}
button{
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}


.containerr .button_1 {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-90%, -10%);
	color: black;
	font-size: 20px;
	padding: 12px 50px;
	outline: none;
	cursor: pointer;
	border-radius: 3px 0px 0px 3px;;
	text-align: center;
	background: white;

}
.containerr .button_1:hover {
	color: white;
	background-color: black;
}

.containerr .button_2 {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(10%, -10%);
	color: black;
	font-size: 20px;
	padding: 12px 70px;
	outline: none;
	cursor: pointer;
	border-radius: 0px;
	text-align: center;
	background: white;

}
.containerr .button_2:hover {
	color: white;
	background-color: black;
}
.containerr .button_3 {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(100%, -10%);
	color: black;
	font-size: 20px;
	padding: 12px 70px;
	outline: none;
	cursor: pointer;
	border-radius: 0px 3px 3px 0px;
	text-align: center;
	background: white;

}
.containerr .button_3:hover {
	color: white;
	background-color: black;
}


/**************************************************/
section{
	width: 1170px;
	height: 3700px;
	margin: 0 auto;/*позиционирование по центру */
}

.title{

	margin-bottom: 50px;
	font-size: 40px;
	text-align: left;

	overflow: hidden;
}

.title:after {
	content: "";

    display: inline-block;
    vertical-align: middle;

    width: 100%;
    height: 5px;

    background-color: #D2E9FF;
    
    position: relative;
}

.title:after{
	margin-right: -100%;
	right: -250px;
}

.btn{
	position: absolute;
	color: black;
	font-size: 20px;
	padding: 12px 20px;
	outline: none;
	cursor: pointer;
	border-radius: 0px;
	text-align: center;
	background: white;
}
.btn:hover {
	color: white;
	background-color: black;
}
/**************************************************/ 

td {
	padding: 20px;
	padding-left: 30px;
}

.mani{
	text-align: center;
}

.button{
	float: left;
	margin-top: 40px;
	display: block;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	color:#fff;
	border: 1px solid black ;
	width: 195px;
	transition: all 0.5s ease;

}

.button:hover {
	background: #E2ECFF;
}
/**************************************************/ 
 .footer_text p{
 	margin-top: 50px;
 	margin-bottom: 50px;
 	text-align: center;
 	font-size: 18px;
 }
 /**************************************************/ 
  .open_meenu{
 	display: none;
 	background: none;
    border: none;
    margin-left: 20px;
 }

 .header .menu_showw {
 	display: block;
 	position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    padding: 10px 0px 0px 250px;
 }
 .header .menu_showw li {
	margin: 5px;
}

/**************************************************/ 
 @media screen and (max-width: 1200px) {
	.container {
	width: 1140px;
	}

		
}

@media screen and (max-width: 1199px) {
	section{
	width: 960px;
	}
	.offer {
	width: 960px;
	}
	.container {
	width: 960px;
	}
   .menu li {
	margin-right: 60px;
  	}
	section{
	width: 960px;
	}


}


@media screen and (max-width: 991px) {
	section{
	width: 720px;
	}
	.container {
	width: 720px;
	}
	.offer {
	width: 720px;
	}
   .menu  {
	display: none;
  	}
  	.open_meenu{
 	display: block;
	}
  	.containerr .button_1 {
	padding: 12px 30px;
	}
	.containerr .button_2 {
	padding: 12px 50px;
	}
	.containerr .button_3 {
	padding: 12px 50px;

	}

}

@media screen and (max-width: 767px) {

	.container {
	width: 540px;
	}

	.offer {
	width: 540px;
	}
	section{
	width: 540px;
	}
	.containerr .button_1 {
	padding: 12px 15px;
	}
	.containerr .button_2 {
	padding: 12px 30px;
	}
	.containerr .button_3 {
	padding: 12px 30px;

	}
}


@media screen and (max-width: 575px) {
	.container {
	width: 100%;
	margin-left: auto;
	}
	.containerr .button_1 {
	padding: 12px 15px;
	}
	.containerr .button_2 {
	padding: 12px 30px;
	}
	.containerr .button_3 {
	padding: 12px 30px;

	}

}