img{
	max-width: 100%;
	max-height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

a{
	color: black;
}
body{
	
	font-family: 'Anton', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
/**************************************************/

.container{

	width: 649px;

	margin: 0 auto;/*позиционирование по центру */
}

.header{
	background-color: #DAE9F9;
	height: 100%;
	padding-top: 26px;
	padding-bottom: 26px;
	color: #fff;
}
header a{
	color: black;
}

.menu{
	display: flex;
}

.menu li a {
	text-decoration: none;
	font-size: 18px;	

}

.menu li {
	margin-right:200px;
}

/**************************************************/
.menu a:after {
	display: block; /*блочный элемент*/
	content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего нет*/
	height: 2px; /*высоту линии*/
	width: 0%; /*задаём начальную ширину линии*/
	background-color: #000000; /*цвет фона элемента*/
	transition: width 0.5s ease-in-out; /**/
}
.menu a:hover:after {
	width: 100%;
	
}

/**************************************************/
.tel{

	font-size: 18px;
	text-decoration: none;
	margin-left: 100px;
}


.nav{
	display: flex;
	align-items: center;
}
/**************************************************/
.offer {
	width: 649px;
	height: 700px;
	margin: 0 auto;/*позиционирование по центру */
}
.offer {		
	padding-top: 84px;
	padding-bottom: 13px;
	font-size: 15px;
}
/**************************************************/
.master p{
	padding:14px 0px 14px 0px ;

}

.choice{
	background-color:#DAE9F9; 
	width: 350px;
	height: 40px;

}
.dat{
	background-color:#DAE9F9; 
	width: 350px;
	height: 40px;
}
.name{
	background-color:#DAE9F9; 
	padding: 5px;
	width: 140px;
	height: 30px;
}
.tel{
	margin: 0;
	background-color:#DAE9F9; 
	padding: 5px;
}
/**************************************************/

.date p{
	padding: 27px 0px 15px 0px ;
}

.nam p{
	padding: 27px 0px 15px 0px ;
}

.number p{
	padding: 27px 0px 15px 0px ;	
}

.coment p{
	padding: 27px 0px 15px 0px ;
}
.coments p{	
	
	padding: 27px 0px 15px 0px ;
}
.coments{
	display: none;
}

textarea{
	background-color:#DAE9F9; 
}
.button a{
	text-decoration: none;
}
.button{
	display: block;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 10px 30px;
	color:#fff;
	border: 1px solid black ;
	width: 195px;

}
.button:hover{
	background: #E2ECFF;
}

/**************************************************/
section{
	width: 649px;
	height: 700px;
	margin: 0 auto;/*позиционирование по центру */
}

.online_recording a{
	text-decoration: none;
}

.online_recording{
	margin-top: 35px;
	display: block;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 10px 10px;
	color:#fff;
	border: 1px solid black ;
	width: 195px;

}
.online_recording:hover{
	background: #E2ECFF;
}
/**************************************************/

@media screen and (max-width: 767px) {
	.container {
		width: 540px;
	}
	.offer {
		width: 540px;
	}
	.choice{
		padding: 10px 150px;
	}
	.coment{
		display: none;
	}
	.coments{
		display: block;
	}
	section{
		width: 540px;
	}


}


@media screen and (max-width: 575px) {
	.menu{
		width: 400px;
	}
	.container {
		width: 100%;
		margin-left: auto;
	}
	.container {
		width: 400px;
	}
	.offer {
		width: 400px;
	}
	.choice{
		padding: 10px 150px;
	}
	section{
		width: 400px;
	}

}