* {
	margin: 0;
	padding: 0;
}

a{
	color: black;
    text-decoration: none;
}
body{
background-color: #f3f7fb;
font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
padding: 0;
margin: 0;
}

ul, li{
display: block;
padding: 0;
margin: 0;
}
/**************************************************/

.container{
width: 1000px;
border: 0px dashed red;
margin: 0 auto;/*ÃƒÂÃ‚Â¿ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â·ÃƒÂÃ‚Â¸Ãƒâ€˜Ã¢â‚¬Â ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â½ÃƒÂÃ‚Â¸Ãƒâ€˜Ã¢â€šÂ¬ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â²ÃƒÂÃ‚Â°ÃƒÂÃ‚Â½ÃƒÂÃ‚Â¸ÃƒÂÃ‚Âµ ÃƒÂÃ‚Â¿ÃƒÂÃ‚Â¾ Ãƒâ€˜Ã¢â‚¬Â ÃƒÂÃ‚ÂµÃƒÂÃ‚Â½Ãƒâ€˜Ã¢â‚¬Å¡Ãƒâ€˜Ã¢â€šÂ¬Ãƒâ€˜Ã†â€™ */
}


.menu{
	display: flex;
	}

.menu li a 
{
	text-decoration: none;
	font-size: 18px;
}



/**************************************************/
.menu a:after {
display: block; /*ÃƒÂÃ‚Â±ÃƒÂÃ‚Â»ÃƒÂÃ‚Â¾Ãƒâ€˜Ã¢â‚¬Â¡ÃƒÂÃ‚Â½Ãƒâ€˜Ã¢â‚¬Â¹ÃƒÂÃ‚Â¹ Ãƒâ€˜Ã‚ÂÃƒÂÃ‚Â»ÃƒÂÃ‚ÂµÃƒÂÃ‚Â¼ÃƒÂÃ‚ÂµÃƒÂÃ‚Â½Ãƒâ€˜Ã¢â‚¬Å¡*/
content: ""; /*ÃƒÂÃ‚ÂºÃƒÂÃ‚Â¾ÃƒÂÃ‚Â½Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚ÂµÃƒÂÃ‚Â½Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â° ÃƒÂÃ‚Â² ÃƒÂÃ‚Â´ÃƒÂÃ‚Â°ÃƒÂÃ‚Â½ÃƒÂÃ‚Â½ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â¼ ÃƒÂÃ‚Â±ÃƒÂÃ‚Â»ÃƒÂÃ‚Â¾ÃƒÂÃ‚ÂºÃƒÂÃ‚Âµ ÃƒÂÃ‚Â½ÃƒÂÃ‚Âµ ÃƒÂÃ‚Â±Ãƒâ€˜Ã†â€™ÃƒÂÃ‚Â´ÃƒÂÃ‚ÂµÃƒâ€˜Ã¢â‚¬Å¡ ÃƒÂÃ‚Â¿ÃƒÂÃ‚Â¾Ãƒâ€˜Ã‚ÂÃƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â¼Ãƒâ€˜Ã†â€™ ÃƒÂÃ‚Â² ÃƒÂÃ‚ÂºÃƒÂÃ‚Â°ÃƒÂÃ‚Â²Ãƒâ€˜Ã¢â‚¬Â¹Ãƒâ€˜Ã¢â‚¬Â¡ÃƒÂÃ‚ÂºÃƒÂÃ‚Â°Ãƒâ€˜Ã¢â‚¬Â¦ ÃƒÂÃ‚Â½ÃƒÂÃ‚Â¸Ãƒâ€˜Ã¢â‚¬Â¡ÃƒÂÃ‚ÂµÃƒÂÃ‚Â³ÃƒÂÃ‚Â¾ ÃƒÂÃ‚Â½ÃƒÂÃ‚ÂµÃƒâ€˜Ã¢â‚¬Å¡*/
height: 2px; /*ÃƒÂÃ‚Â²Ãƒâ€˜Ã¢â‚¬Â¹Ãƒâ€˜Ã‚ÂÃƒÂÃ‚Â¾Ãƒâ€˜Ã¢â‚¬Å¡Ãƒâ€˜Ã†â€™ ÃƒÂÃ‚Â»ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â½ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â¸*/
width: 0%; /*ÃƒÂÃ‚Â·ÃƒÂÃ‚Â°ÃƒÂÃ‚Â´ÃƒÂÃ‚Â°Ãƒâ€˜Ã¢â‚¬ËœÃƒÂÃ‚Â¼ ÃƒÂÃ‚Â½ÃƒÂÃ‚Â°Ãƒâ€˜Ã¢â‚¬Â¡ÃƒÂÃ‚Â°ÃƒÂÃ‚Â»Ãƒâ€˜Ã…â€™ÃƒÂÃ‚Â½Ãƒâ€˜Ã†â€™Ãƒâ€˜Ã…Â½ Ãƒâ€˜Ã‹â€ ÃƒÂÃ‚Â¸Ãƒâ€˜Ã¢â€šÂ¬ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â½Ãƒâ€˜Ã†â€™ Ãƒâ€˜Ã‚ÂÃƒÂÃ‚Â»ÃƒÂÃ‚ÂµÃƒÂÃ‚Â¼ÃƒÂÃ‚ÂµÃƒÂÃ‚Â½Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â° (ÃƒÂÃ‚Â»ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â½ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â¸)*/
background-color: #000000; /*Ãƒâ€˜Ã¢â‚¬Â ÃƒÂÃ‚Â²ÃƒÂÃ‚ÂµÃƒâ€˜Ã¢â‚¬Å¡ Ãƒâ€˜Ã¢â‚¬Å¾ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â½ÃƒÂÃ‚Â° Ãƒâ€˜Ã‚ÂÃƒÂÃ‚Â»ÃƒÂÃ‚ÂµÃƒÂÃ‚Â¼ÃƒÂÃ‚ÂµÃƒÂÃ‚Â½Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â°*/
transition: width 0.5s ease-in-out; /**/
}
.menu a:hover:after {
width: 100%;

}

/**************************************************/
.tel{
	font-size: 18px;
}
.nav .tel{
	margin-left: 30px;
	width: 200px;
}

.nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100px;
}
.nav a{
 width: 250px;
}
.nav li{
margin-right: 50px;

}
/**************************************************/
.offer {
width: 1170px;
height: 700px;
margin: 0 auto;/*ÃÂ¿ÃÂ¾ÃÂ·ÃÂ¸Ã‘â€ ÃÂ¸ÃÂ¾ÃÂ½ÃÂ¸Ã‘â‚¬ÃÂ¾ÃÂ²ÃÂ°ÃÂ½ÃÂ¸ÃÂµ ÃÂ¿ÃÂ¾ Ã‘â€ ÃÂµÃÂ½Ã‘â€šÃ‘â‚¬Ã‘Æ’ */
}

.offer h1{
	margin-top: 30px;
	font-size: 45px;
}

.offer h2{
	font-size: 30px;
}
.box{
		width: 700px;
		display: flex;
		flex-direction: column;
		align-items: center;
}
.slog{
	margin-left: 100px;
	height: 0;
	padding-top: 50px;
}
.bty {
    margin-top: 250px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bty p{
	font-size: 15px;
}

.button a{
    box-shadow: 1px 1px 10px 5px rgb(136 136 136 / 50%);
    margin-top: 30px;
    display: block;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border-radius: 10px;
    border: 2px solid #759EDF;
    width: 195px;
    transition: all 0.5s ease;
    color: #104A83;
	
}
.button a:hover{
	box-shadow: 1px 1px 10px 1px rgb(136 136 136 / 10%);
}
	


/**************************************************/
.flex_wrapper {
float: right;
width: 34%;
display: flex;
justify-content: center;
}
.slider_wrapper {
max-width: 800px;
width: 100%;
height: 400px;
position: relative;

}

#btn_prev, #btn_next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30px;
    background-color: #7baad8;
    opacity: 0.1;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    border-radius: 1px;
}
#btn_prev:hover {
    opacity: 0.4;
}
#btn_next:hover {
    opacity: 0.4;
}


#btn_next {
left: auto;
right: 0;
}

.slide {
width: 100%;
height: 100%;
display: none;
}

.slide.active {
display: block;
}

.slide img {
	width: 400px;
    height: 400px;
    border: #000;
    border-radius: 15px;
}
/**************************************************/

section{
width: 1170px;
margin: 0 auto;/*ÃÂ¿ÃÂ¾ÃÂ·ÃÂ¸Ã‘â€ ÃÂ¸ÃÂ¾ÃÂ½ÃÂ¸Ã‘â‚¬ÃÂ¾ÃÂ²ÃÂ°ÃÂ½ÃÂ¸ÃÂµ ÃÂ¿ÃÂ¾ Ã‘â€ ÃÂµÃÂ½Ã‘â€šÃ‘â‚¬Ã‘Æ’ */
}

.title{

margin-bottom: 50px;
font-size: 40px;
text-align: left;

overflow: hidden;
}

.title:after {
content: "";

display: inline-block;
vertical-align: middle;

width: 100%;
height: 5px;


background-color: #EDF4FD;

position: relative;
}

.title:after{
margin-right: -100%;
right: -14px;
}

/**************************************************/
.img1, .img2, .img3, .img4 { 
margin-bottom: 10px;
display: inline-block;
margin-right: 10px;
transition: 1s;
}

/**************************************************/
.img1:hover{
transform: scale(0.9);
}
.img2:hover{
transform: scale(0.9);
}
.img3:hover{
transform: scale(0.9);
}
.img4:hover{
transform: scale(0.9);
}
/**************************************************/

.container p{
display: flex;
padding-top: 50px;
text-align: center;
font-size: 18px;
justify-content: center;
}
.footer{
margin-top: 100px;
background-color: #EDF4FD;
height: 110px;
}
/**************************************************/
.menu_open{
	display: none;
	background: none;
	border: none;
}
.header .show_menu{
display: block;
position: absolute;
left: 150px;
top: 0;
width: 50%;
padding: 10px 0px 10px 150px;
}
.header .show_menu li {
margin: 5px;
}

/**************************************************/
@media screen and (max-width: 1200px) {
.slider_wrapper {
	height: 350px;
}
.offer {
	width: 1000px;
	height: 500px;
}
.slog{
	padding-top: 20px;
	width: 570px;;
}
.offer h2{
	padding-top: 15px;
	font-size: 30px;
}
.bty {
	margin-top: 200px;
}
.bty p{
	font-size: 15px;
}
.button a {
	margin-top: 15px;
	width: 250px;
	padding: 20px 0px;
	height: 20px;
}
.about{
	width: 1000px;
}
.container .container_{
	width: 1000px;
}
.img1 img, .img2 img, .img3 img, .img4 img {
	width: 470px;
	height: 300px;	
}
.img1, .img2, .img3, .img4 { 
	margin: 10px;
}
}
@media screen and (max-width: 1000px){
.menu {
	display: flex;
	margin-left: 0px;
	align-items: center;
}
.menu li a {
    font-size: 14px;
}
.tel{
	font-size: 14px;
}
.nav .tel {
    margin-left: 0px;
    width: 150px;
}
.nav li{
	width: 50px;
	margin-right: 50px;
}
.container {
	width: 700px;
}
/**************************************************/
.offer {
	width: 700px;
}
.slog{
	margin-left: 10px;
	padding-top: 30px;
	width: 400px;
}
.offer h1{
	padding-top: 0;
	font-size: 30px;
}
.offer h2{
	padding-top: 15px;
	font-size: 20px;
}
.bty{
	float: left;
}
.bty p{
	margin-top:0;
	padding-top:10px;
	font-size: 14px;
}
.button a {
	width: 250px;
	padding: 20px 0px;
	height: 20px;
}
.about{
	width: 700px;
}
.flex_wrapper {
	width: 320px;
}
.slider_wrapper {
	width: 300px;
	height: 300px;
}
.slide img{
	width: 300px;
    height: 300px;
}

.container_{
	width: 700px;
}
.img1 img, .img2 img, .img3 img, .img4 img {
	width: 310px;
	height: 250px;	
}
.img1, .img2, .img3, .img4 { 
	margin: 10px;
}
}
@media screen and (max-width: 700px){
.menu  {
	display: none;
}
.menu a:after {
 display: none;
}
.menu a:hover:after {
	display: none;
}

.nav .tel {
    margin-left: 120px;
    width: 150px;
}
.menu_open{
	margin:0;
	text-align:right;
	display: block;
	width: 50px;
}
.menu_open a {
width: 200px;
}
.header .show_menu {
    padding-left: 0;
    top: 50px;
    display: inline-flex;
    justify-content: center;
}

.header .show_menu li {
	margin: 15px;
}
.menu_open img{
	width: 30px;
}	
.nav a{
	width: 140px;
}
.tel{
	font-size:15px;
}
/**************************************************/
.offer {
	width: 500px;
	height: 700px;
}
.about{
	width:500px;
}
.slog{
	display: flex;
	width: 450px;
	flex-wrap: wrap;
}
.container, .container_ {
	width: 500px;
}
.offer h1 {
	padding-top: 410px;
	font-size: 30px;
}
.offer h2 {
	padding-top: 15px;
	font-size: 20px;
}
.bty p{
	padding-top: 0px;
	font-size:10px;
}
.bty {
    margin-top: 140px;
}
.button a{
	width: 170px;
	padding: 10px 0px;
	height: 20px;
}
.flex_wrapper {
	width: 500px;
}
.slider_wrapper {
    width: 400px;
    height: 400px;
}
.slide img {
    width: 400px;
    height: 400px;
}
.title{
	font-size:30px;
}
.img1 img, .img2 img, .img3 img, .img4 img {
	width: 100%;
	height: 300px;		
}
.img1, .img2, .img3, .img4 { 
	margin: 10px;
}
.container p{
	padding-top: 0;
	display: flex;
	text-align: center;
	justify-content: center;
}
.footer {
	margin-top: 100px;
	background-color: #EDF4FD;
	height: 200px;
	display: flex;
	align-items: center;
}
}
@media screen and (max-width: 500px) {
.tel{
	display: none;
	}
.header .show_menu {
	width: 400px;
    left: 50px;
    top: 50px;
    display: inline-flex;
    justify-content: center;
}
/**************************************************/	
.offer {
	width: 400px;
}
.about{
	width:400px;
}
.slog{
	display: flex;
	width: 400px;
	flex-wrap: wrap;
}
.container, .container_ {
	width: 400px;
}
.offer h1 {
	padding-top: 400px;
	font-size: 20px;
}
.offer h2 {
	padding-top: 15px;
	font-size: 15px;
}
.bty p{
	font-size:10px;
}
.bty {
	margin-left: 10px;
    margin-top: 180px;
}
.button a{
	width: 170px;
	padding: 10px 0px;
	height: 20px;
}
.flex_wrapper {
	width: 400px;
}
.slider_wrapper {
	height: 350px;	
}
.title{
	font-size:25px;
}
.img1 img, .img2 img, .img3 img, .img4 img {
	width: 100%;
	height: 300px;		
}
.img1, .img2, .img3, .img4 { 
	margin: 10px;
}
.container p{
	padding-top: 0;
	display: flex;
	text-align: center;
	justify-content: center;
}
.footer {
	margin-top: 100px;
	background-color: #EDF4FD;
	height: 200px;
	display: flex;
	align-items: center;
}
.footer p {
	font-size:15px;
}
}
@media screen and (max-width: 400px) {
	body{
		width: 350px;
	}
	.menu li a{
		font-size:13px;
	}
	.container {
	width: 350px;
	}
.header .show_menu {
	width:350px;
	left: 10px;
	top: 50px;
	display: inline-flex;
	justify-content: center;
}
.header .show_menu li {
	margin: 15px;
}	
/**************************************************/
.offer {
	width: 350px;
}
.about{
	width:350px;
}
.slog{
	display: flex;
	width: 350px;
	flex-wrap: wrap;
}

.container_ {
	width: 350px;
}

.offer h1 {
	padding-top: 350px;
	font-size: 20px;
}
.offer p {
	padding-top: 15px;
	font-size: 15px;
}
.bty p{
	font-size:10px;
}
.button a{
	width: 170px;
	padding: 10px 0px;
	height: 20px;
}
.flex_wrapper {
	width: 350px;
}
.slider_wrapper {
	height: 350px;	
}
.slide img {
    width: 350px;
    height: 350px;
}
.title{
	font-size:25px;
}
.img1 img, .img2 img, .img3 img, .img4 img {
	width: 100%;
	height: 300px;		
}
.img1, .img2, .img3, .img4 { 
	margin: 10px;
}
.container p{
	padding-top: 0;
	display: flex;
	text-align: center;
	justify-content: center;
}
.footer {
	width: 350px;
}
.footer p {
	font-size:15px;
}
}
@media screen and (max-width: 350px) {
	body{
		width: 320px;
	}
.logo{
	margin-bottom: 0;
	padding-left: 10px;
	width: 150px;
	height: 32px;
}
.menu_open {
	padding-right: 10px;
	width: 18px;
	height: 9px;
}
.bty {
    margin-top: 50px;
}
.slog{
	padding-top: 20px;
	width: 300px;
}
span{
	font-size: 30px;
}
.header .show_menu {
    top: 60px;
    left: 110px;
    display: inline-flex;
    width: 70px;
}
.header .show_menu li a {
	font-size:10px;
	white-space: nowrap;
}	
.offer{
	width: 320px;
	height: 570px;
}
.flex_wrapper {
	float: right;
	display: flex;
	justify-content: center;
}
.title span{
	font-size: 20px;
}
.title:after {
	display: none;
}

.offer h1{
	padding-top: 300px;
	font-size: 20px;
	width: 300px;
}
.offer h2{
	padding-top: 5px;
	padding-left: 10px;
	font-size: 15px;
}
.bty p{
	margin: 0;
	padding: 50px 0 0 10px;
	padding-left: 10px;
}
.button a {
	margin-left: 10px;
	width: 200px;
	padding: 10px 0px;
	height: 20px;
}
.flex_wrapper {
	float: none;
	width: 320px;
}
.slider_wrapper {
	height: 320px;	
}
.slide img {
    width: 320px;
    height: 320px;
}
#btn_prev, #btn_next{
	width: 30px;
}
.about {
	margin: 0;
	width: 320px;
}
.container {
	margin: 0;
	width: 320px;
}
.container_ {
	width: 320px;
}

.title{
	padding-left: 10px;
}
.gallery{
	padding-left: 10px;
}
.img1 img, .img2 img, .img3 img, .img4 img {
	width: 290px;
	height: 200px;
}
	
.img1, .img2, .img3, .img4 {
	margin-right: 0; 
	margin-bottom: 30px;
}
a{	
	width: 150px;
}
.footer {
	width: 320px;
}
.footer p{
	font-size: 10px;
}
}