* {
    margin: 0;
    padding: 0;
}
a {
    color: black;
}
body {
    background-color: #F3F9FF;
    font-family: 'Open Sans', sans-serif;
}
ul,
li a {
    display: block;
    padding: 0;
    margin: 0;
}
/**************************************************/
.container {
    width: 550px;

    margin: 0 auto; /*позиционирование по центру */
}

.header {

    height: 100%;
    padding-top: 10px;
    color: #fff;
}
header a {
    color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    font-size: 14px;
}

.menu li {
    margin-right: 80px; 
}
/**************************************************/
.menu a:after {
    display: block; /*блочный элемент*/
    content: ''; /*контента в данном блоке не будет поэтому в кавычках ничего нет*/
    height: 2px; /*высоту линии*/
    width: 0%; /*задаём начальную ширину линии*/
    background-color: #000000; /*цвет фона элемента*/
    transition: width 0.5s ease-in-out; /**/
}
.menu a:hover:after {
    width: 100%;
}

/**************************************************/
.tel {
    font-size: 18px;
    text-decoration: none;
    margin-left: 100px;
}

.nav {
    display: flex;
    align-items: center;
}
/**************************************************/

.offer{
    max-width: 550px;
    margin: 0 auto;
    padding: 30px 0;
}
@media screen and (max-width: 550px) {
    .container {
      width: 350px;
    }
    .offer {
      width: 350px;
    }
    p{
      font-size: 14px;
  }
  }
  
  @media screen and (max-width: 350px) {
    .container {
        width: 320px;
      }
    .menu li a {
        text-decoration: none;
        font-size: 12px;
    }
    .offer {
        width: 300px;
      }
    p{
        font-size: 12px;
    }
    }