* {
	margin: 0;
	padding: 0;
}

a{
	color: black;
    text-decoration: none;
}

button:focus{
orphans: none;
}

body{
background-color: #f3f7fb;
font-family: 'Open Sans', sans-serif;
}

ul, li{
display: block;
padding: 0;
margin: 0;
}
header{
	background-color: #97beff2e;
}
/**************************************************/

.container{
width: 500px;
border: 0px dashed red;
margin: 0 auto;
}


.menu {
  display: flex;
  align-items: center;
}


.menu li a 
{
	text-decoration: none;
	font-size: 18px;
}



/**************************************************/
.menu a:after {
display: block; 
content: ""; 
height: 2px; 
width: 0%;
background-color: #000000; 
transition: width 0.5s ease-in-out;
}
.menu a:hover:after {
width: 100%;

}

/**************************************************/
.nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 50px;
}
.nav a{
 width: 250px;
}
.nav li{
margin-right: 100px;

}
/**************************************************/

.form * {
  outline: none;
}
.form{
  max-width: 550px;
  margin: 0 auto;
  padding: 30px 0;
}

.form_item_u{
  /* display: -webkit-inline-flex; */
  display: flex;
  flex-direction: column;
}
.select_usluga{
  margin-right: 10px;
}
.form_item{

  margin: 0px 0px 20px 0px;
}
.form_label{
  font-size: 18px;
  display: block;
  padding-right: 30px;
  margin: 20px 0px 30px 0px;
}
.form_input{
  height: 50px;
  width: 92%;
  font-size: 18px;
  padding: 0 20px;
  border-radius: 5px;
  transition: all 0.8s ease 0s;
}

textarea.form_input{
  min-width: 120px;
  resize: vertical;
  padding: 20px;
}
.select_usluga{
  height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
  border-radius: 5px;
}
.select_master{
  height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
  border-radius: 5px;
}
.checkbox_input {
  display: none;
  
}
.checkbox_label a {
  color: #A330D9;
}
.checkbox_input:checked + .checkbox_label::after {
  transform: scale(1);

}
.checkbox_label {
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox_label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color:rgb(132, 185, 241);
  border-radius: 6px;
  margin: 0px 10px 0px 0px;
}
.checkbox_label::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.5s ease 0s;
}
.form_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #D0E6FD;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.5s ease 0s;
}
.form_button:hover{
  background-color: #8DBFF1;
}
/**************************************************/
.form_input:focus {
  box-shadow: 0 0 15px #40f7f7dc;
}
/**************************************************/
.form_input._error {
  box-shadow: 0 0 20px #ff0000;
}
.checkbox._error  .checkbox_label::before  {
  box-shadow: 0 0 20px #ff0000;
}



/**************************************************/
@media screen and (max-width: 550px) {
  .container {
    width: 350px;
  }
  .form {
    width: 320px;
  }
  .menu li a {
    font-size: 14px;
}
}

@media screen and (max-width: 350px) {
  .form {
    width: 200px;
  }
  .header{
    width: 320px;
  }
  .container{
    width: 320px;
  }
  .menu li{
    margin-right: 0px;
    width: 80px;
  }
  li{
    width: 30px;
     margin-right: 50px;
  }
  .menu li a{
    font-size: 10px;;
  }
  .menu{
    width: 320px;
    padding-left: 60px;
  }
  .form_label{
    font-size: 10px;
  }
  span{
    font-size: 10px;
  }
  .form_button{
    font-size: 18px;
  }
}
